In [1]:
import requests
import pandas as pd
import time

In [2]:
API_KEY = ''
CHANNEL_ID = 'UCW8Ews7tdKKkBT6GdtQaXvQ'

In [42]:
#collecting view, like, dislike, comment counts

def get_video_counts(video_id):
        #second API call for details
        url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+ video_id + "&part=statistics&key=" + API_KEY
        response_video_stats = requests.get(url_video_stats).json()

        view_count = response_video_stats['items'][0]['statistics']['viewCount']
        like_count = response_video_stats['items'][0]['statistics']['likeCount']
        #favorite_count = response_video_stats['items'][0]['statistics']['favoriteCount']
        #comment_count = response_video_stats['items'][0]['statistics']['commentCount']
        
        return view_count, like_count

In [55]:
def get_videos(df):
    #API call
    pageToken = ""
    url = "https://www.googleapis.com/youtube/v3/search?key="+ API_KEY + "&channelID =" + CHANNEL_ID +"&part=snippet, id&order=date&maxResults=10000" + pageToken

    response = requests.get(url).json()
    
    time.sleep(1) #give time for data from API to get here
    
    #video in items is equal to <response ['items'][0]>
    for video in response['items']:
        if video['id']['kind'] == "youtube#video":
            #info that is collected
            video_id = video['id']['videoId']
            video_title = video['snippet']['title']
            video_title = str(video_title).replace("&amp:","")
            upload_date = video['snippet']['publishedAt']
            upload_date = str(upload_date).split("T")[0]


            view_count = get_video_counts(video_id)
           ### issue here 
            like_count = 1

            #save all above data in a panda df
            df = df.append({'video_id': video_id, 'video_title' : video_title,
                            'upload_date' : upload_date, 'view_count' : view_count, 'like_count' : like_count}, ignore_index= True)
    return df

In [49]:
df.head()

,video_id,video_title,upload_date,view_count,like_count
0,lbdBBC9cj3A,【小霖XiaoLin】 局長巔峰 高速上分 1/29,2022-01-29,"(4249, 128)",1
1,Lq53hkfngaw,"Cook Once, Eat Twice: Healthy Dinner + Lunch",2022-01-29,"(665, 116)",1
2,G2-UbXaucQo,Revealed #MarketGuru Sanjiv Bhasin&#39;s Portf...,2022-01-29,"(4681, 670)",1
3,yWNj0gvtAdo,رسميا ايغالو هلالي !!!! راينا بالصفقة بكل صراح...,2022-01-29,"(12550, 2850)",1
4,bPdmLNop3C8,Вести в 11:00 от 29.01.2022 - Россия 24,2022-01-29,"(16748, 167)",1